body {
  font-family:'Lato', sans-serif;
}
h1 {
  font-family:'Oswald', sans-serif;
}
.violeta {
  background-color: #660066;
}
header {
  background-image: url('../img/perfil.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10rem;
  padding-top: 20rem;
}

.iconos {
  color: #660066;
}
.colorletrafooter {
  color: #FFFFFF;
}
.card-title {
  font-weight: bold;
}
.border-bottom {

}
.encabezado {
  padding-top: 20;
}
